.article-container {
    max-width:1280px;
    margin-inline:auto;
    background-color: white;
}

.article--title {
    width:50%;
}

.article-container hr {
    width:100%;
    background-color:#b6917a;
    height:2px;
    border-style:none;
    opacity:50%;
    margin-bottom:50px;
}

.article-container {
    padding:4%;
}

.blog-img {
    width:100%;
}

.blog--title {
    line-height: 50px;
    width:100%;
    color:#c48864;
}

.blog--subtext {
    line-height: 5px;
    font-size:smaller;
    color:rgb(128, 126, 126);
}

/* hide desktop article view */
.article-box {
    display:none;
}

.articleMobile-box {
    display:flex;
    place-items: center;
    gap:5%;
}

.articleMobile-box i {
    font-size:26px;
}

.blog-container:hover {
    cursor:pointer;
    opacity:80%;
}

/* MEDIA QUERY: IPAD */

@media only screen and (min-width:768px) {
    /* hide mobile view article box */
    .articleMobile-box {
        display:none;
    }    

    .blog-img {
        width:100%;
    }

    .blog-container{
        padding:1%;
        width:50%;
    }

    .article-box {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
}

/* MEDIA QUERY: DESKTOP */

@media only screen and (min-width:1280px) {
    .article--title {
        width:20%;
        margin-left:0px;
        margin-top:20px;
    }

    .blog-img {
        width:100%;
    }

    .blog-container{
        padding:1%;
    }

    .article-box {
        flex-wrap: nowrap;
    }

}

