.classDocA-container {
    max-width:1280px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    margin-inline:auto;
}

.classDocA-container img {
    width:100%;
}

.classDocA-desktop {
    display:none;
}

@media only screen and (min-width:768px) {
    
}

@media only screen and (min-width:1280px) {
    .classDocA-desktop {
        display:flex;
    }
    .classDocA-mobile {
        display:none;
    }
}