.footer-container {
    position: absolute;
    width: 1512px;
    height: 486px;
    left: 0px;
    top: 5457px;
}

.footer-catalog {
    display:flex;
    place-items: start;
    justify-content: space-around;
    margin-top:100px;
}

.footer-logo {
    width: 315px;
}

.footer-logo img {
    width: 315px;
    height: 68px;
}

.footer-logo p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.footer-item {
    text-align: left;
}

.footer-items ul {
    list-style:none;
    text-align: left;
    margin-left:-40px;
}

.footer-items a {
    text-decoration:none;
    color:black;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.footer-items h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align:left;
    font-weight:bold;
}

.call-us {
    line-height:50px;
}

.footer-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #9D9D9D;
    margin-top:80px;
}