.frame6-container {
    position: absolute;
    width: 1512px;
    height: 561px;
    left: 0px;
    top: 4895px;
    background: #F2FAFA;
    display:flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
}

.frame6-title h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    font-weight:bold;
    margin:0;
}

.frame6-title p{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #9D9D9D;
    margin:0;
}

.frame6-submit {
    display: flex;
    flex-direction: column;
    width:662px;
    height:194px;
    justify-content: space-between;
    place-items: center;
}

.frame6-submit input {
    width: 662px;
    height: 76px;
    border-style:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.frame6-submit button {
    width: 300px;
    height: 76px;
    background: #1E88E5;
    border-radius: 10px;
    border-style:none;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.frame6-submit button:hover {
    cursor:pointer;
}